@import "spacing";
@import "typography";

/* Breakpoints */

@mixin for-phone-only {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin for-tablet-up {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin for-desktop-up {
  // 1024px - width at which max-width + margin no longer holds all content
  @media (min-width: 1024px) {
    @content;
  }
}

//.. Components ..//

.container {
  max-width: 960px;
  @include u-marginLeft--2;
  @include u-marginRight--2;

  @include for-tablet-up {
    @include u-marginLeft--4;
    @include u-marginRight--4;
  }

  @include for-desktop-up {
    margin: 0 auto;
  }
}

//.. Display ..//
.display-1 {
  @include t-font-size__mobile--4;
  font-weight: 300;
  line-height: 1.1;

  @include u-marginBottom--0;

  @include for-desktop-up {
    @include t-font-size__desktop--4;
  }
}

.display-2 {
  @include t-font-size__desktop--3;
  font-weight: 300;
  line-height: 1.1;

  @include u-marginBottom--0;

  @include for-desktop-up {
    @include t-font-size__desktop--3;
  }
}

h1,
.h1 {
  @include t-font-size__mobile--4;
  font-family: $header-font-stack;
  line-height: 1.1;
  font-weight: 500;

  @include u-marginBottom--2;

  @include for-desktop-up {
    @include t-font-size__desktop--3;
  }
}

h2,
.h2 {
  @include t-font-size__mobile--3;
  font-family: $header-font-stack;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;

  @include u-marginBottom--2;

  @include for-desktop-up {
    @include t-font-size__desktop--2;
  }
}

h3,
.h3 {
  @include t-font-size__mobile--1;
  font-family: $header-font-stack;
  font-weight: 600;
  line-height: 1.2;

  @include u-marginBottom--2;

  @include for-desktop-up {
    @include t-font-size__desktop--1;
  }
}

h4,
.h4 {
  font-family: $base-font-stack;
  font-weight: 700;
  line-height: 1;

  @include u-marginBottom--2;
}

// Paragraph
p {
  line-height: 1.5;

  @include u-marginBottom--2;
}

.p1 {
  @extend p;
  font-size: 1.125rem;
  font-weight: 600;
}

.p2 {
  @extend p;
}

.p3 {
  @extend p;
  font-size: 0.875rem;
}

//Misc

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  cursor: pointer;
}

a:hover { 
  color:purple;
  text-decoration: underline; 
}

small,
.small {
  @include t-font-size__mobile--small;

  @include for-desktop-up {
    @include t-font-size__desktop--small;
  }
}

.caption {
  @extend small;
  color: #4d5a6a;
  line-height: 1.25rem;

  @include u-marginTop--1;
  @include u-marginBottom--2;
}

.overline {
  @extend small;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.8pt;
}

// CSS Grid
section {
  @include u-marginBottom--4;
}

.grid-12-col {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  column-gap: 2rem;
  row-gap: 1rem;
  align-items: start;

  .col-1-5 {
    grid-column: 1 / 5;
  }

  .col-1-7 {
    grid-column: 1 / 7;
  }

  .col-1-9 {
    grid-column: 1 / 9;
  }

  .col-1-13 {
    grid-column: 1 / 13;
  }

  .col-5-9 {
    grid-column: 5 / 9;
  }

  .col-5-13 {
    grid-column: 5 / 13;
  }

  .col-7-13 {
    grid-column: 7 / 13;
  }

  .col-9-13 {
    grid-column: 9 / 13;
  }

  @media only screen and (max-width: 768px) {
    .col-1-5,
    .col-1-7,
    .col-1-9,
    .col-5-9,
    .col-7-13,
    .col-5-13,
    .col-9-13 {
      grid-column: 1 / 13;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  .grid-12-col {
    column-gap: 0;
  }
}

// Components
.nav-bar {
  @include u-marginBottom--2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 54px;

  .nav-bar__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .nav-bar__logo__image {
      height: 1rem;
      width: auto;
      margin-right: 0.5rem;
    }
    .nav-bar__logo__text {
      @include t-font-size__desktop--small;
      line-height: 1;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .nav-bar__links {
    @include t-font-size__desktop--small;
    display: flex;
    justify-content: space-between;
    min-width: 200px;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
  }

  //0-600px
  @media only screen and (max-width: 600px) {
    .nav-bar__links {
      display: none;
    }
  }
}

.full-width {
  width: 100%;
  height: auto;
}

.box {
  background-color: #e1e6e9;
  padding: 1.5rem;

  @include u-marginBottom--2;
}

img.sm {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
}

img.md {
}

img.lg {
  width: auto;
  height: auto;
  padding: 2rem;
}
