/* Font Imports */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700&display=swap");

/* Font Stacks */
$header-font-stack: Work Sans, Helvetica, sans-serif;
$base-font-stack: Inter, Helvetica, sans-serif;

/* Available Font Weights */
// Work Sans - 300, 400, 500, 600, 700
// Inter - 100 through 900
// Source Sans Pro - 300, 400, 500, 600, 700

/* Base Font Size */
$base-font-size: 18px;

html {
  font-size: $base-font-size;
}

body {
  font-family: $base-font-stack;
  font-weight: 400;
  line-height: 1;
  color: $extra-dark-brown;
}

/* Type Scale */
//$type-scale: 1.5; //using mobile 

$type-scale--mobile: 1.25; //Major Third
$type-scale--desktop: 1.4; //Major Fourth

/* Text Presets */

// Mobile

@mixin t-font-size__mobile--5 {
  font-size: $type-scale--mobile * $type-scale--mobile * $type-scale--mobile * $type-scale--mobile * $type-scale--mobile + rem;
}

@mixin t-font-size__mobile--4 {
  font-size: $type-scale--mobile * $type-scale--mobile * $type-scale--mobile * $type-scale--mobile + rem;
}

@mixin t-font-size__mobile--3 {
  font-size: $type-scale--mobile * $type-scale--mobile * $type-scale--mobile + rem;
}

@mixin t-font-size__mobile--2 {
  font-size: $type-scale--mobile * $type-scale--mobile + rem;
}

@mixin t-font-size__mobile--1 {
  font-size: $type-scale--mobile + rem;
}

@mixin t-font-size__mobile--base {
  font-size: 1rem;
}

@mixin t-font-size__mobile--small {
  font-size: calc(1 / $type-scale--mobile) + rem;
}

//Desktop

@mixin t-font-size__desktop--5 {
  font-size: $type-scale--desktop * $type-scale--desktop * $type-scale--desktop * $type-scale--desktop * $type-scale--desktop + rem;
}

@mixin t-font-size__desktop--4 {
  font-size: $type-scale--desktop * $type-scale--desktop * $type-scale--desktop * $type-scale--desktop + rem;
}

@mixin t-font-size__desktop--3 {
  font-size: $type-scale--desktop * $type-scale--desktop * $type-scale--desktop + rem;
}

@mixin t-font-size__desktop--2 {
  font-size: $type-scale--desktop * $type-scale--desktop + rem;
}

@mixin t-font-size__desktop--1 {
  font-size: $type-scale--desktop + rem;
}

@mixin t-font-size__desktop--base {
  font-size: 1rem;
}

@mixin t-font-size__desktop--small {
  font-size: .8rem;
}
